chardet==5.2.0
darkdetect==0.8.0
packaging==25.0
Pillow==12.0.0
typing_extensions==4.15.0
windnd==1.0.7
aiofiles==24.1.0
aiosqlite==0.20.0
altgraph==0.17.4
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.9.0
argcomplete==3.6.2
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.4.0
autopep8==2.3.2
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.14.2
black==24.10.0
bleach==6.3.0
blessed==1.22.0
browser-cookie3==0.20.1
calibre==0.4.0
certifi==2025.4.26
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.1
clarabel==0.11.1
click==8.1.7
colorama==0.4.6
contourpy==1.3.3
cryptography==44.0.0
curtsies==0.4.3
customtkinter==5.2.2
cvxpy==1.7.3
cwcwidth==0.1.10
cycler==0.12.1
darkdetect==0.8.0
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
et_xmlfile==2.0.0
executing==2.2.0
f2==0.0.1.7
fastjsonschema==2.21.2
filelock==3.16.1
fonttools==4.60.1
gmssl==3.2.2
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpie==3.2.4
httpstat==1.3.2
httpx==0.27.2
idna==3.10
importlib_resources==6.4.5
iniconfig==2.3.0
ipython==8.12.3
ipython_pygments_lexers==1.1.1
iso8601==2.1.0
jedi==0.19.2
Jinja2==3.1.6
jinxed==1.3.0
joblib==1.5.2
jsonpath-ng==1.6.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
loguru==0.7.3
lz4==4.4.4
m3u8==3.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.4
multidict==6.6.3
mypy-extensions==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
Nuitka==2.8.4
numpy==2.2.3
openpyxl==3.1.5
ordered-set==4.1.0
osqp==1.0.5
packaging==24.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pefile==2023.2.7
pickleshare==0.7.5
pillow==12.0.0
pipreqs==0.5.0
pipx==1.7.1
platformdirs==4.2.2
pluggy==1.6.0
ply==3.11
prompt_toolkit==3.0.51
protobuf==5.28.3
pure_eval==0.2.3
pycodestyle==2.12.1
pycparser==2.23
pycryptodomex==3.23.0
pydantic==2.9.2
pydantic_core==2.23.4
PyExecJS==1.5.1
Pygments==2.19.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pyparsing==3.1.2
pyperclip==1.9.0
PySocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.25.0
python-dateutil==2.9.0.post0
python-socks==2.4.4
pytz==2025.1
pywin32==311
pywin32-ctypes==0.2.3
pyxdg==0.28
PyYAML==6.0.2
pyzmq==27.1.0
qrcode==8.0
referencing==0.37.0
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.9.3
rpds-py==0.28.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
scikit-learn==1.7.2
scipy==1.16.2
scs==3.2.9
shadowcopy==0.0.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.8
stack-data==0.6.3
sv_ttk==2.6.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tkcalendar==1.6.1
tkinterdnd2==0.4.3
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.9.0
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.3.0
userpath==1.9.2
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
websockets_proxy==0.1.2
win32_setctime==1.2.0
WMI==1.5.1
yarg==0.1.9
yt-dlp==2025.1.26
zipp==3.20.2
zstandard==0.25.0
